


    
      
    
     
        <h2 style="text-align: center; color: brown;">Admin dashborad</h2>
        <h6 style="text-align: center;">please login first</h6>
    <div class="mb-3"  style= "text-align: center;">
        <label class="form-label" style="margin: 20px;">User Name:</label>
         <input
          class="form-group-text-center" 
          type="text" 
          id="Username" 
          name="username"
          [(ngModel)]= "username" 
          placeholder="Enter your username" 
           required
        />
       
      
        Password: <input
        class="form-group" 
          type="password" 
          id="password" 
          name="password" 
          [(ngModel)]= "password" 
          placeholder="Enter your password"
          [ariaSetSize]="true"
          required 
        />
     
         <br>

  
         <!-- Submit Button -->
          <button type="submit" class="btn btn-success"  (click)="checkLogin()"> Login</button>
          <button type="button" class="btn btn-warning" style="margin: 30px;" routerLink="/home"> cancel</button>
     </div>
  


