
  <h2 id="hello " ></h2>

    <h2 class="text-center">Login page  </h2>
   
  
    <!-- Login Form -->
   <form   action="http://localhost:8080/item"  class="text-center">
      
      
        User Name: <input 
          type="text" 
          id="Username" 
          [(ngModel)]="loginData.username" 
          name="username" 
          required 
          placeholder="Enter your username" 
          class="form-control" required
        />
   
  
      <!-- Password -->
      
        Password: <input 
          type="password" 
          id="password" 
          [(ngModel)]="loginData.password" 
          name="password" 
          required 
          placeholder="Enter your password" 
          class="form-control " required 
        />
     
      <br>

  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary"  onclick="onSubmit()">Login</button>
   
  
    <script>
      function pass(){
        var username= document.getElementById('Username').value;
        var password= document.getElementById('password').value;
        if(username=="admin" && password=="123"){
          alert("welcome")
          window.location.href = "http://localhost:8080/items";
        }else{
          alert("Invalid username or password");
        }
        
      }
    </script>
    </form>
 

