
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    
    <nav style="margin: auto" class="navbar navbar-expand-lg bg-dark">
        <a style="color:white;" class="navbar-brand" > Shopping cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        </ul>
        <div class="mx-2">
            <button  style="margin: 5px;" class="btn btn-danger" data-bs-target="#loginModel" data-bs-toggle="model"><a style="color: aliceblue;" href="admin" routerLink="/admin">login as admin</a></button>
            <button  style="margin: 5px;" class="btn btn-danger" data-bs-target="#loginModel" data-bs-toggle="model"><a style="color: aliceblue;" href="customer" routerLink="/customer">login as customer</a></button>

        </div>
    </div>
    </nav>
   
      <br>
      <div class=" images-container">
        
            <img src="assets/colors.webp"   style="background-size: cover; background-position: center;  align-items: center;  height: 100vh;" > 
            <img src="assets/pen.jpg"   style=" background-position: left; border: 3; align-items: center;  height: 90vh;" >
            <img src="assets/sheet.webp"   style=" background-position: center; border: 3px; align-items: center;  height: 100vh;" > 
        </div> 
        
</body>
</html>