<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer page </title>
</head>
<body>
    <h2 style="text-align: center; color: brown;">login as customer</h2>
      
    <form   action= "" class="text-center">
      
        User Name: <input
          class="form-control" 
          type="text" 
          id="Username" 
          name="username" 
          placeholder="Enter your username" 
           required
        />
      <!-- Password -->
      
        Password: <input
        class="form-control " 
          type="password" 
          id="password" 
          name="password" 
          placeholder="Enter your password"
          [ariaSetSize]="true"
          required 
        />
     
      <br>

  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-success"  (click)="goToShoppingList()"> Login</button>
    </form>
</body>
</html>
