

    <h2 style="text-align: center; color: brown;">login as customer </h2>
    <h6 style="text-align: center;">please enter username and password </h6>
      
    <div style="text-align: center;">
      
        User Name: <input
          class="form-group" 
          type="text" 
          id="Username" 
          name="username"
          [(ngModel)]= "username"   
          placeholder="Enter your username" 
           required
        />
        <br>
        Password: <input
        class="form-group" 
          type="password" 
          id="password" 
          name="password"
          [(ngModel)]= "password" 
          placeholder="Enter your password"
          
          required 
        />
     
      <br>

  
      <!-- Submit Button -->
       <button type="submit" class="btn btn-success"  (click)="checkLogin()" style="margin: 30px;" > Login</button>
       <button type="button" class="btn btn-warning" routerLink="/home" > cancel</button>
      </div>
 

