<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer page </title>
</head>
<body>
    <h1>Welcome to Customer Page</h1>
    <a href="items.component.html">show items</a>
    <h2>Items</h2>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <h2>Cart</h2>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <h2>Orders</h2>
    <ul>
        <li>Order 1</li>
        <li>Order 2</li>
        <li>Order 3</li>
    </ul>
    

    
</body>
</html>
